 <style>
        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ebeb0f;

        }
        .navbar .logo{
            flex: 1;
        }
        .navbar .logo img{
            height: 10px;
        }
        .navbar .titele{
            flex: 2;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
            

        }
        .navbar .links a{
            font-size: 20px;
            text-decoration: none;
            margin-left: 1pc;
        }
        @media(max-width:700px){
            .navbar{
                flex-direction: column;
                text-align: center;
            }
        
        }
</style>